<!doctype html>
<!--[if lt IE 7 ]><html class="ie ieLT ie6" lang="nl"> <![endif]-->
<!--[if IE 7 ]><html class="ie ieLT ie7" lang="nl"> <![endif]-->
<!--[if IE 8 ]><html class="ie ieLT ie8" lang="nl"> <![endif]-->
<!--[if IE 9 ]><html class="ie ieLT ie9" lang="nl"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html lang="nl">
<head>
	<meta charset="UTF-8" />
	<meta name="apple-mobile-web-app-capable" content="yes" />
	<meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0" />
	<link rel="apple-touch-icon-precomposed" href="/gfx/iLogo.png">
	<meta name="apple-mobile-web-app-status-bar-style" content="black" />
	<meta name="apple-mobile-web-app-title" content="REK" />
	
	<title>Red een kind spaarapp </title>
	
	<link rel="stylesheet" href="../css/style.css" />
</head>
<body class="home">

    <header class="topBar">
    	<h1 class="logo">REK</h1>
    </header>
    
    <section class='container'>
    	<h1 class="">Bijna bij je spaardoel</h1>
		<article class="article earn">
			
				
				<h1 class="hide">Kip</h1>
				<figure class="crop">
					<img src="../images/kip.png" />
				</figure>
				<h5>Er staan nog <strong>4</strong> klussen open</h5>
				<h2><strong class="price">Nog &euro; 4,50 te gaan</strong></h2>
				<a href="#klussen" class="btn">Bekijk je klussen</a>
				
				
		</article>
    </section>
		
	
	 <nav class="navbar bottom">
    	<h1 class="hide">Menu</h1>
    	<ul class="group-s-4">
          <li><a class="active" href="#/">Home</a></li>
          <li><a href="#/doelen">Doelen</a></li>
          <li><a href="#/klussen">Klussen</a></li>
          <li><a href="#/settings">Settings</a></li>
        </ul>
    </nav>

</body>
</html>