<!doctype html>
<!--[if lt IE 7 ]><html class="ie ieLT ie6" lang="nl"> <![endif]-->
<!--[if IE 7 ]><html class="ie ieLT ie7" lang="nl"> <![endif]-->
<!--[if IE 8 ]><html class="ie ieLT ie8" lang="nl"> <![endif]-->
<!--[if IE 9 ]><html class="ie ieLT ie9" lang="nl"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html lang="nl">
<head>
	<meta charset="UTF-8" />
	<meta name="apple-mobile-web-app-capable" content="yes" />
	<meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0" />
	<link rel="apple-touch-icon-precomposed" href="/gfx/iLogo.png">
	<meta name="apple-mobile-web-app-status-bar-style" content="black" />
	<meta name="apple-mobile-web-app-title" content="REK" />
	
	<title>Red een kind spaarapp </title>
	
	<link rel="stylesheet" href="../css/style.css" />
</head>
<body class="results">

    <header class="topBar">
    	<h1 class="logo">REK</h1>
    	<a class="btn right" href="#new">nieuw</a>
    </header>
    
    <section class='container'>
		<h1>Overzicht klussen</h1>
		<ul class="results">
			<li>
				<article>
					<div class="text">
						<h1>Wc schoonmaken</h1>
					</div>
					<a href="#detail" class="boxlink">meer info</a>
				</article>
			</li>
			<li>
				<article>
					<div class="text">
						<h1>Grasmaaien</h1>
					</div>
					<a href="#detail" class="boxlink">meer info</a>
				</article>
			</li>
			<li>
				<article>
					<div class="text">
						<h1>Auto wassen</h1>
					</div>
					<a href="#detail" class="boxlink">meer info</a>
				</article>
			</li>
			<li>
				<article>
					<div class="text">
						<h1>Was ophangen</h1>
					</div>
					<a href="#detail" class="boxlink">meer info</a>
				</article>
			</li>
			<li>
				<article>
					<div class="text">
						<h1>Afwasmachine uitpakken</h1>
					</div>
					<a href="#detail" class="boxlink">meer info</a>
				</article>
			</li>
			
		</ul>
				
		<a href="#informatie" class="btn blanc new">Nieuw </a>
		 
    </section>
		
	
	 <nav class="navbar bottom">
    	<h1 class="hide">Menu</h1>
    	<ul class="group-s-4">
          <li><a href="#/">Home</a></li>
          <li><a href="#/doelen">Doelen</a></li>
          <li><a class="active" href="#/klussen">Klussen</a></li>
          <li><a href="#/settings">Settings</a></li>
        </ul>
    </nav>

</body>
</html>